﻿@page "/"
@inject  IJSRuntime JSRuntime

<div class="container-fluid" id="header">
    <div class="jumbotron text-center">
        <h1><i class="fas fa-american-sign-language-interpreting"></i> &gt;TazeD&lt;-Hub <i class="fas fa-american-sign-language-interpreting"></i></h1>
        <p>This is a christian Server! 🙏 So please:</p>
        <h3 class="triggered text-danger">NO THOTS!</h3>
        <br>
        <div class="container">
            <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_self">
                <div class="input-group">
                    <input autocomplete="on" class="form-control search mr-sm-2" name="q" placeholder="Google dich glücklich" aria-label="Search" required="required" type="text" autofocus="">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-*">
        <div class="card">
            <img class="card-img-top" src="img/w2g.png" alt="Teamspeak-icon image">
            <div class="card-body">
                <h5 class="card-title">Watch2Gether</h5>
                <p class="card-text"><span class="text-danger">Warning</span>: May contain different spices!</p>
                <a href="https://www.watch2gether.com/rooms/tazedclubroom-ae8dg2agj49sd3rmoi" class="btn btn-dark">Lets Play Together <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-*" id="jqbx">
        <div class="card">
            <img class="card-img-top" src="img/jqbx.jpg" alt="Teamspeak-icon image">
            <div class="card-body">
                <h5 class="card-title">jqbx</h5>
                <p class="card-text">Klingt wie ein Schlaganfall, ist aber Watch2Gether für Spotify PW: 1337</p>
                <a href="#jqbx" class="btn btn-dark" onclick="playRobloxDeathSound()">Play roblox_death_sound.wma <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
}