﻿<h1>@Game:</h1>

@if (Uptime != null) {
    <p>Uptime: @Uptime</p> 
}

@functions {
    [Parameter]
    private string Game { get; set; } = "undefined";

    [Parameter]
    private string Uptime { get; set; } = null;
}