<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TazedHub</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="minecraft">
                <i class="fas fa-cube" aria-hidden="true"></i> Minecraft
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="factorio">
                <i class="fas fa-tools" aria-hidden="true"></i> Factorio
            </NavLink>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo/usenet">
                <i class="fas fa-cube" aria-hidden="true"></i> Usenet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo/teamspeak">
                <i class="fas fa-tools" aria-hidden="true"></i> Teamspeak
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
